#timeLine {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  border-top: 2px solid black;
  display: grid;
  gap: 2px;
}

.App {
  font-family: sans-serif;
}

.line {
  background-color: rgb(55, 169, 214);
  padding: 0.5em;
  padding-right: 0.5em;
  min-height: 1em;
  border-radius: 0.2em;
  color: white;
  position: relative;
  left: 0;
}

.track {
  position: relative;
}

.keyFrame {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

#properties-pane .properties {
  white-space: pre;
  font-family: consolas, monospace;
}

#el1, #el2 {
  width: 100px;
  height: 100px;
}